<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add Course</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/add}" th:object="${course}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="id" class="col-form-label">Id</label> <input type="number" min="1" th:field="*{courseId}" class="form-control" id="courseId" placeholder="Id"> <span th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="level" class="col-form-label">Level</label> <input type="number" min="1" th:field="*{level}" class="form-control" id="level" placeholder="Level"> <span th:if="${#fields.hasErrors('level')}" th:errors="*{level}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="hours" class="col-form-label">Hours</label> <input type="number" min="1" th:field="*{hours}" class="form-control" id="hours" placeholder="Hours"> <span th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add Course">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>